body{
    background-color:#0AF062;
    width:1024px;
    height:768px;
}
h1{
    text-align: center;
    font-size: 40px;
    border  : 5px solid black;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
label{
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
}
p,p1,p2,ul{
    font-size: 20px;
}
table, td, th {
    border: 2px solid black;
}
table {
    width: 100%;
}
p3{
    font-size: 20px;
    margin-bottom: 10px;
}
th {
    height: 50px;
}
th{
    font-size: 20px;
}
#nav{
    width:85%;
}
nav ul li{
float: left;
font-family: 'Century Gothic', sans-serif;
font-size: 17px;
border-top:3px solid #000;
border-bottom:3px solid #000;
border-right:3px solid #000;
border-left:3px solid #000;
width:40%;
background-color:#014B63;
position:relative;
}
nav ul li a{
display:block;
text-align: center;
line-height: 40px;
text-decoration: none;
color:white;
}
nav ul ,aside ul{
list-style-type:none;
width:100%
}
aside ul li{
display:inline;
margin-right: 5px;
margin-left: 5px;
}
 
 nav ul li:hover{
 background-color: red;
 }

section{
     margin:60px;
     padding: 10px;
	 border-top-style: solid;
     border-right-style: solid;
     border-bottom-style: solid;
     border-left-style: solid;
	 background-color:#fff;
     position:absolute;
}
ul, li{
list-style-type:none;
width:100%;
}
footer{
    margin-top: 20px;
}